.mainPanel {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 290px 1fr;
}

.sidebar {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 40px 10px;
  grid-column: 1;

  ul {
    list-style-type: none;

    li {
      a {
        text-transform: uppercase;
        color: rgb(225, 225, 225);
        cursor: pointer;
        text-decoration: none;
        line-height: 35px;
        font-size: 16px;
        font-weight: 550;
        letter-spacing: 2px;
        visibility: visible;
      }
      a:hover {
        color: rgb(225, 123, 119);
      }
    }
  }
}

.centralPanel {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.4px;
  background-attachment: scroll;
  color: rgb(0, 0, 0);
  padding: 0px 8px;
  grid-column: 2;
}

//BurgerMenu styles
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

//End BurgerMenu styles
